<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    <ul>
      {% if books == []: %}
        <h3>Library is empty</h3>
      {% else %}
        {% for book in books: %}

          <li>{{book.title}}-{{book.author}}-{{book.rating}}</li>
          <a href="{{url_for('edit', title=book.title )}}">edit rating</a>
          <a href="{{url_for('delete', title=book.title )}}">delete</a>
        {% endfor %}
      {% endif %}

    </ul>

    <a href="{{url_for('add')}}">Add New Book</a>
  </body>
</html>
