<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <form action="" method="">
        <input type="button" value="1" onclick="{{url_for('al')}}">  <button value="2">2</button> <button value="3">3</button>
        <br> <br>
        <button value="4">4</button> <button value="5">5</button> <button value="6">6</button> 
        <br><br>
        <button value="7">7</button> <button value="8">8</button> <button value="9">9</button> 

    </form>

    <script>
function insert(){
    document.getElementsByClassName
}

    </script>
</body>
</html>